<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>
<!DOCTYPE html>
<html lang="he" dir="rtl">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>שיתוף מזון - FoodShare</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&family=Assistant:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link id="cssLink" runat="server" href="StyleSheet.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder id="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <table class="main-table">
            <tr>
                <td colspan="3" class="header">
                    <div class="header-row">
                        <h1>FoodShare <span class="header-sub-title">שיתוף מזון</span></h1>
                        <asp:Label ID="lblUserStatus" runat="server" CssClass="user-status"></asp:Label>
                        <nav>
                            <asp:HyperLink ID="lnkHome" runat="server" NavigateUrl="FoodBoard.aspx" Text="דף הבית" />
                            <asp:HyperLink ID="lnkRegister" runat="server" NavigateUrl="regestaration.aspx" Text="הרשמה" />
                            <asp:HyperLink ID="lnkLogin" runat="server" NavigateUrl="login.aspx" Text="כניסה" />
                            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="Categories.aspx" Text="גלריית קטגוריות" />
                            <asp:HyperLink ID="lnkBoard" runat="server" NavigateUrl="FoodBoard.aspx" Text="עיון" />
                            <asp:HyperLink ID="lnkFoodMap" runat="server" NavigateUrl="Map.aspx" Text="מפה" />
                            <asp:HyperLink ID="lnkAddItem" runat="server" NavigateUrl="AddItem.aspx" Text="לשתף" Visible="false" />
                            <asp:HyperLink ID="lnkMessages" runat="server" NavigateUrl="Messages.aspx" Text="הודעות" Visible="false" />
                            <asp:Label ID="lblUnreadBadge" runat="server" CssClass="nav-badge" Visible="false" />
                            <asp:HyperLink ID="lnkAdmin" runat="server" NavigateUrl="AdminPanel.aspx" Text="מודרציה" Visible="false" />
                            <asp:HyperLink ID="lnkLogout" runat="server" NavigateUrl="logout.aspx" Text="יציאה" Visible="false" />
                        </nav>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="side-bar"></td>
                <td class="main-content">
                    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
                <td class="side-bar"></td>
            </tr>
            <tr>
                <td colspan="3" class="footer">
                     צור קשר: <a href="mailto:bagrutprojectfeedback@gmail.com">bagrutprojectfeedback@gmail.com</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
