<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FoodShareDB"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|FoodShare.accdb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="he-IL" uiCulture="he-IL"/>
    <sessionState mode="InProc" timeout="30"/>
  </system.web>
</configuration>
