<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- anon key is safe to commit: it's meant to be public, access is enforced by Postgres RLS policies -->
    <add key="SupabaseUrl" value="https://ypqoigxnchttxtqbqmqn.supabase.co" />
    <add key="SupabaseAnonKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwcW9pZ3huY2h0dHh0cWJxbXFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3ODk2ODksImV4cCI6MjEwNDM2NTY4OX0.qaiEK-N8wNIGJecQmbtUBJCDbHNx-YXmyXnlRcebZFk" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="he-IL" uiCulture="he-IL"/>
    <sessionState mode="InProc" timeout="30"/>
  </system.web>
</configuration>
